body{
    text-decoration: none;
}
.preto{
    position: fixed;
    color: white;
    background-color: hsl(240, 3%, 21%,0.9);
    text-decoration: none;
    height: 45px;
    width: 100%;
    padding-top: 0;
    backdrop-filter: blur(5px);
    text-align:center ;
}
.branco{
    color: rgb(145, 143, 143);
    margin-bottom: 5px;
}
.bla{
    text-decoration: none;
    color: rgb(145, 143, 143);
}
.linhatopo{
    height: 40px;
    text-align: center;
    background-color: rgb(248, 247, 247);
    padding-top: 6px;
}
.compre{
    text-decoration: none;
    color: rgb(61, 134, 243);
}
.linha1{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    background-color: rgb(255, 253, 253);
}
h2{
    font-size: 54px;
}
.ip12{
    text-decoration: none;
    color: rgb(61, 134, 243);
    font-size: 22px;
}
.banana{
    display: inline;
    font-size: 25px;
}
.iphone{
    margin-top: 90px;
}
.linha2{
    text-align: center;
    padding-top: 40px;
    background-color: rgb(0, 0, 0);
    margin-top: 7px;
}
.texto7{
    color:rgb(153, 152, 152);
    font-size: 20px;
}
.ipad{
    margin-top: 10px;
    margin-left: 30px;
}
.b4{
    font-size: 30px;
    color: white;
}
.b3{
    color: white;
}
.linha3{
    text-align: center;
    padding-top: 40px;
    background-color: rgb(250, 253, 253);
    margin-top: 7px;
}
.b8{
    font-size: 30px; 
}
.cores{
    font-size: 72px;
    background: -webkit-linear-gradient(bottom right,red, yellow,green,blue,rgb(61, 134, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.b9{ 
    display: inline;
}